.result {
    overflow: scroll;
    height: 120px;
    background-color: #DCDCDC;
    width: 98%;
    font-size: medium;
    overflow-wrap: break-word;
    border: black solid 0px;
    border-radius: 15px;
    margin-bottom: 3px;
    margin: 4px;
}

.result p {
  font-size: 30px;
  margin: 3px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
  margin-top: 5rem;
  border: black;
  border-style: solid;
  border-radius: 10px;
  background: black;
}

.title{
  margin: 0;
  color: #DCDCDC;
  font-style: revert;
  font-family: math;
  padding-left: 10px;
}

.button {
  display: block;
  background-color: black;
  margin: 5px;
}

.btn-orange{
  background-color: orange;
}

button:active {
  outline: none;
  border: none;
}
button:focus {outline:0;}

button {
  padding: 0;
    width: 25%;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    border-color: black;
    background-color: #DCDCDC;
    margin-bottom: 3px;
}

